// Link Post Format
.post-format-media--link {
	background-color: $color-primary;
	padding: 40px;
	margin-bottom: 20px;

	.post-format-title {
		margin: 0;
		font-size: $font-size-h2;
		color: $color-white;
		display: inline-block;

		&::after {
			padding-left: 10px;
			content: "\f0c1";
			font-family: fontawesome;
			transform: rotate(90deg);
		}
	}
}

// Quote Post Format
.format-quote {

	blockquote {
		padding: 80px 90px;
		margin-bottom: 30px;
		font-size: $font-size-h6;

		&::before {
			left: 60px;
			top: 60px;
		}

		&::after {
			right: 60px;
			bottom: 60px;
		}

		p {
			margin-bottom: 0;
		}
	}
}

// Video and Audio Post Format
.post-format-media--video,
.post-format-media--audio {
	margin-bottom: 15px;
}

.post-format-video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.format-video,
.format-audio {

	iframe {
		width: 100%;
	}

	.entry-content {

		iframe {
			display: none;
		}
	}
}

// Small soundcloud.
.format-audio {

	iframe {
		height: 200px;
	}
}

// Gallery Post Format
.post-format-media--gallery {
	position: relative;
	padding: 20px;
	background-color: $color-light;
	overflow: hidden;
	margin-bottom: 30px;

	.swiper-button-next,
	.swiper-button-prev {
		position: absolute;
		top: calc(50% - 2px);
		background-image: none;
		background-color: $color-primary;
		height: auto;
		width: auto;
		padding: 15px;
		right: 40px;
		transition: transform 0.6s cubic-bezier(0.3, 1.8, 0.5, 1);

		&::before {
			content: "\f103";
			font-family: themegrill-icons;
			display: block;
			color: $color-white;
			font-size: 9px;
			transition: 0.2s transform cubic-bezier(0.06, 0.84, 1, 0.9);
		}

		&:focus {
			outline: none;
		}
	}

	.swiper-button-prev {
		right: auto;
		left: 40px;
		transform: translateX(-100px);

		&::before {
			content: "\f102";
		}
	}

	.swiper-button-next {
		transform: translateX(100px);
	}

	&:hover {

		.swiper-button-prev {
			transform: translateX(0);

			&:hover {
				transform: translateX(-5px);

				&::before {
					transform: translateX(-20px);
				}
			}
		}

		.swiper-button-next {
			transform: translateX(0);

			&:hover {
				transform: translateX(5px);

				&::before {
					transform: translateX(20px);
				}
			}
		}
	}
}

.format-gallery {

	.entry-content {

		.gallery {
			display: none;
		}
	}
}

.blog,
.archive {

	&.tg-archive-style--masonry .format-quote,
	&.tg-archive-style--big-block .format-quote:not(:first-child) {

		blockquote {
			padding: 30px 45px;

			&::before {
				font-size: 16px;
				left: 25px;
				top: 20px;
			}

			&::after {
				font-size: 16px;
				right: 25px;
				bottom: 20px;
			}
		}
	}

	&.tg-archive-style--masonry .format-gallery,
	&.tg-archive-style--big-block .format-gallery:not(:first-child) {

		.post-format-media--gallery {
			padding: 10px;

			.swiper-button-next,
			.swiper-button-prev {
				padding: 10px;

				&::before {
					font-size: 8px;
				}
			}
		}
	}

	&.tg-archive-style--masonry .format-link,
	&.tg-archive-style--big-block .format-link:not(:first-child) {

		.post-format-media--link {
			padding: 20px;

			.post-format-title {
				font-size: 21px;
			}
		}
	}
}
