.search-form {

	label {
		position: relative;

		&::before {
			position: absolute;
			top: calc(50% - 7px);
			right: 10px;
			display: block;
			content: "\f117";
			font-family: themegrill-icons;
			font-size: $font-size-widget;
			color: $color-gray-5;
		}
	}

	.search-field {
		-webkit-appearance: textarea;
		font-size: $font-size-widget;
		color: $color-gray-5;

		&::placeholder {
			color: inherit;
			font-size: inherit;
		}
	}
}

.cenote-search-form {
	background-color: $color-white;
	margin: auto 10%;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	animation: zoom-in 0.2s ease-in-out;
	transform: scale(0);
	transition: all 0.2s;
	visibility: hidden;
	opacity: 0;
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
	padding: 0 40px;

	.tg-container {
		position: relative;
	}

	.search-form {
		margin-top: 40vh;

		label {
			margin-bottom: 30px;
			display: block;

			&::before {
				display: none;
			}
		}
	}

	input[type="search"] {
		border-bottom: 2px solid $color-body;
		border-top: none transparent;
		border-left: none transparent;
		border-right: none transparent;
		width: 100%;
		font-size: 20px;
		font-style: italic;
		color: $color-heading;

		&::placeholder {
			color: inherit;
		}
	}

	&.cenote-search-form--opened {
		transform: scale(1);
		visibility: visible;
		opacity: 1;
	}

	.search-submit {
		padding: 15px 25px;
		display: none;
		margin-bottom: 20px;
	}

	.search-form-close {
		position: absolute;
		width: 40px;
		height: 40px;
		display: block;
		top: 60px;
		right: 60px;
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			display: block;
			height: 3px;
			background-color: $color-heading;
			transform: translate3d(0, 20px, 0) rotate(45deg);
		}

		&::after {
			transform: translate3d(0, 17px, 0) rotate(-45deg);
		}
	}
}
