/*=============================================
=            Widgets            =
=============================================*/

.widget {
	margin: 0 0 60px;

	ul {
		margin: 0 0 0 15px;
		line-height: 1.6;

		li {
			margin-bottom: 10px;
			font-size: 14px;

			a {
				display: block;
				text-decoration: none;

				&:hover {
					transform: translateX(5px);
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	.widget-title {
		font-size: $font-size-widget;
		display: inline-block;
		position: relative;
		text-transform: uppercase;
		font-weight: 700;
		margin-top: 0;
		margin-bottom: 20px;
		color: $color-heading;

		&::after {
			content: "";
			position: absolute;
			width: 40px;
			height: 1px;
			background: $color-primary;
			left: calc(100% + 10px);
			top: calc(50% - 1px);
		}
	}
}

/* Search Widget */

.widget_search {

	.search-form {
		display: flex;
		justify-content: space-between;
	}

	label {
		width: 73%;
	}

	.search-field,
	.search-submit {
		padding: 10px;
	}

	.search-submit {
		display: block;
		font-size: 12px;
	}

	.search-field {
		width: 100%;
	}
}


.tg_widget_recent_posts,
.tg-post-ribbon {

	ul {
		margin: 0;
		

		li {
			display: flex;
			flex-wrap: nowrap;
			transition: transform 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);

			&:hover {
				transform: translateX(10px);
			}

			a {

				&:hover {
					transform: none;
				}
			}

			.tg-post-thumbnail {
				padding-right: 20px;

				img {
					max-width: 70px;
				}
			}

			.tg-post-info {

				a {
					font-size: 14px;
					font-weight: 700;
				}

				.post-date {
					margin-top: 5px;
					display: inline-block;
					font-size: 12px;
					color: $color-gray-6;
				}
			}
		}
	}
}

.tg-post-ribbon {
	background-color: $color-light;
	padding: 40px 0 30px;

	ul {
		margin: 0 -10px;

		li {
			padding-right: 10px;
			padding-left: 10px;
			width: 25%;
			margin-bottom: 10px;

			.tg-post-info {

				.tg-post-title {
					margin-bottom: 10px;
					display: block;
				}
			}
		}
	}
}

// Calendar Widget
.widget_calendar {

	caption {
		margin-bottom: 1.5em;
	}

	table {

		th,
		td {
			padding: 10px;
		}
	}
}

.widget_recent_comments {

	ul {

		li {
			color: $color-gray-6;
		}
	}
}

.widget_media_gallery {

	.gallery-item {
		margin: 0;
	}
}
