/*=============================================
=            Button            =
=============================================*/

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	background-color: $color-heading;
	color: $color-white;
	font-size: $font-size-widget;
	line-height: 1;
	padding: 20px;
	text-transform: uppercase;
	font-family: $font-family-body;
	letter-spacing: 1px;
	outline: none;
	transition: all 0.35s ease-in-out;

	&:hover {
		background-color: $color-primary;
		color: $color-white;

		&::after {
			transform: translateX(5px);
		}
	}
}

.button-arrow {

	&::after {
		content: "\f103";
		font-family: themegrill-icons;
		display: inline-block;
		font-size: 8px;
		margin-left: 10px;
		transition: all 0.35s cubic-bezier(0.075, 0.82, 0.165, 1);
	}
}

.wp-block-button {

	&.is-style-fill {
		.wp-block-button__link {
			text-decoration: none;
			color: #ffffff;
		}
	}

	&.is-style-outline {
		.wp-block-button__link {
			color: #000000;
			text-decoration: none;
		}
	}
}

