
.layout-site--boxed {
	
	#page {
		margin: 20px auto;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}
}

@media (min-width: 768px) {
	
	.layout-site--boxed {
		
		#page {
			max-width: 750px;
		}
	}
}

@media (min-width: 992px) {
	
	.layout-site--boxed {
		
		#page {
			max-width: 970px;
		}
	}
}


@media (min-width: 1200px) {
	
	.layout-site--boxed {
		
		#page {
			max-width: 1270px;
		}
	}
}

.tg-archive-col--2,
.tg-archive-col--3 {
	
	.site-main {
		margin-left: -20px;
		margin-right: -20px;
	}

	article {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.tg-archive-col--2 {
	
	article {
		width: 50%;
	}
}

.tg-archive-col--3 {
	
	article {
		width: 33.33%;
	}
}

