/*=============================================
=            Gallery            =
=============================================*/

.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	// Loops to enumerate the classes for gallery columns.
	@for $i from 2 through 9 {

		.gallery-columns-#{$i} & {
			max-width: map-get($columns, $i);
		}
	}
}

.gallery-caption {
	display: block;
}

ul.wp-block-gallery {
	padding: 0;
}

.wp-block-gallery ul.blocks-gallery-grid img,
ul.wp-block-gallery img {
	margin-bottom: 0;
}

/* Gutenberg Blocks Layout.
--------------------------------------------------------------*/
.wp-block-gallery.alignleft, .wp-block-gallery.alignright, .wp-block-gallery.aligncenter,
.wp-block-social-links.alignleft,
.wp-block-social-links.alignright,
.wp-block-social-links.aligncenter {
	display: flex;
}
